<footer>
    <div class="footer-content">
        <div class="footer-section contact">
            <h3>Contact Us</h3>
            <p>📍 Address: 97 - 100, G Wing, 3rd Floor, KK Market, Pune Satara Road, Behind Shankar Maharaj Math, Balajinagar, Pune PIN: 411043</p>
            <p>📞 Phone: <a href="tel:+919743929666">+91 9743929666</a></p>
            <p>📞 Phone: <a href="tel:+919075557349">+91 9075557349</a></p>
            <p>📞 Phone: <a href="tel:+919923462555">+91 9923462555</a></p>
            <p>📧 Email: <a href="mailto:info@admarkdigitech.com">Anita@admarkdigitek.com </a></p>
            <p>📧 Email: <a href="mailto:info@admarkdigitech.com">Gandharvdeshmukh@gmail.com </a></p>
        </div>

        <div class="footer-section links">
            <h3>Quick Links</h3>
            <ul>
                <li><a href="/index.html">Home</a></li>
                <li><a href="/about.html">About Us</a></li>
                <li><a href="/video-gallery.html">Video Gallery</a></li>
                <li><a href="/contact.html">Contact Us</a></li>
            </ul>
            <div class="social-icons">
  <a href="https://www.instagram.com/admarkdigitech?igsh=MTJtb3JscDA2NnlibQ==" target="_blank">
    <i class="fa-brands fa-instagram"></i>
  </a>
  <a href="https://www.facebook.com/admark.digitech?mibextid=wwXIfr" target="_blank">
    <i class="fa-brands fa-facebook"></i>
  </a>
  <a href="https://www.linkedin.com/in/admark-digitech-384762358" target="_blank">
    <i class="fa-brands fa-linkedin"></i>
  </a>
</div>

        </div>
        <div class="map-container">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3424.609051563073!2d73.85773827465097!3d18.469326570738595!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2eab8a1c28f73%3A0xf66b73ea426aabbe!2sAdmark%20Digitech%20Pvt%20Ltd!5e1!3m2!1sen!2sin!4v1742989654384!5m2!1sen!2sin"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade">
            </iframe>

        </div>
    </div>

    <div class="footer-bottom">
        <p>© 2025 Admark Digitech Private Limited. All Rights Reserved.</p>
        <p>Developed By DW Innovation Pvt. Ltd.</p>
    </div>

    <div class="fixed-buttons">
        <!-- WhatsApp Button -->
        <a href="https://wa.me/919743929666?text=Hello%20Admark%20Digitech,%20I%20need%20to%20enquire." target="_blank"
            class="whatsapp-btn">
            <i class="fa-brands fa-whatsapp"></i>
        </a>

        <!-- Scroll to Top Button -->
        <button id="scrollToTop" class="scroll-top-btn1">
            <i class="fa-solid fa-arrow-up"></i>
        </button>
    </div>
</footer>