<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admark Digitech</title>
    <script src="/assets/script.js" defer></script>
    <link rel="stylesheet" href="/assets/style.css">
</head>

<body>

    <header>
        <div class="navbar">
            <div class="logo">
                <a href="index.html">
                <img src="/assets/logo1.jpg" alt="Admark Digitech Logo">
            </a>
            </div>


            <!-- HAMBURGER MENU BUTTON (For Mobile) -->
            <div class="mobile-menu-btn" id="mobile-menu-btn">
                ☰
            </div>

            <nav class="main-menu" id="main-menu">
                <ul>
                    <li><a href="/index.html">Home</a></li>

                    <li><a href="/about.html">About Us</a></li>

                    <!-- Dropdown for Printers -->
                    <li class="panel-dropdown">
                        <a href="#">Digital Printers</a>
                        <div class="dropdown-panel">
                            <ul>
                                <li><a href="/flex.html">Flex</a></li>
                                <li><a href="/eco_solvent.html">Eco Solvent</a></li>
                                <li><a href="/uv_flated.html">UV Flated</a></li>
                                <li><a href="/konica-1024i-13pl.html">UV Hybrid</a></li>
                                <li><a href="/uv_roll_to_roll.html">UV Roll To Roll</a></li>
                            </ul>
                        </div>
                    </li>

                    <!-- Dropdown for CNC Router -->
                    <li class="panel-dropdown">
                        <a href="#">CNC Router</a>
                        <div class="dropdown-panel">
                            <ul>
                                <li><a href="/wood-router.html">4' x 8'</a></li>
                                <li><a href="/stone-router.html">5' x 10'</a></li>
                                <li><a href="/sign-maker.html">Double Spindle</a></li>
                                <li><a href="/sign-maker.html">Pattern/Stone Making</a></li>
                            </ul>
                        </div>
                    </li>

                    <!-- Dropdown for CNC Laser -->
                    <li class="panel-dropdown">
                        <a href="#">CNC Laser</a>
                        <div class="dropdown-panel">
                            <ul>
                                <li><a href="#">2' x 3' CNC Laser</a></li>
                                <li><a href="#">4' x 3' CNC Laser</a></li>
                                <li><a href="#">4' x 4' CNC Laser</a></li>
                                <li><a href="#">8' x 4' CNC Laser</a></li>
                                <li><a href="#">CCD</a></li>
                                <li><a href="#">Fiber Laser</a></li>
                            </ul>
                        </div>
                    </li>

                    <!-- Dropdown for LED Display -->
                    <li class="panel-dropdown">
                        <a href="#">LED Display</a>
                        <div class="dropdown-panel">
                            <ul>
                                <li><a href="#">Indoor LED Display</a></li>
                                <li><a href="#">Outdoor LED Display</a></li>
                                <li><a href="#">Vehicle LED Display</a></li>
                                <li><a href="#">Rental LED Display Services</a></li>
                            </ul>
                        </div>
                    </li>

                    <!-- Dropdown for CNC Channel letter Bending Machine -->
                    <li class="panel-dropdown">
                        <a href="#">CNC Channel Bending</a>
                        <div class="dropdown-panel">
                            <ul>
                                <li><a href="#">Aluminum</a></li>
                            </ul>
                        </div>
                    </li>

                    <li><a href="/video-gallery.html">Video Gallery</a></li>
                    <li><a href="/contact.html">Contact Us</a></li>
                </ul>
            </nav>
        </div>
    </header>

</body>

</html>